.App {
}
.container {
  width: 80%;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.leftTitle {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.rightTitle {
  float: right;
}

.button {
  font-size: 20px;
  background-color: #ea5455;
}

.clear {
  clear: both;
}

.bottomTitle {
  font-size: 20px;
  font-weight: bold;
}

.singleStudent {
  background-color: #929aab;
  width: 10%;
  margin-left: 1%;
}
